/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import url('https://fonts.googleapis.com/css?family=Overpass');

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Overpass", "Helvetica Neue", "Yu Gothic", YuGothic, sans-serif;
  font-size: 1.6em;
  color: #000;
  line-height: 1.8;
  font-feature-settings: 'pkna' 1;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 { font-size: 2.4rem; }
h2, h3 { font-size: 1.8rem; }

@media only screen and (min-width: 35em) {
  h1 { font-size: 3rem; }
  h2, h3 { font-size: 2rem; }
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
}

.container-narrow {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

header { padding: 4rem 0 2rem; }
section { padding: 2rem 0; }

@media only screen and (min-width: 35em) {
  header { padding: 8rem 0 4rem; }
  section { padding: 4rem 0; }
}

.header-primary {
  text-align: center;
  border: 3px solid #000;
  margin: 0 0 4rem;
  padding: 2rem;
}
.header-secondary {
  text-align: center;
  background: #ff0;
  padding: 1rem;
  margin: 0 0 2rem;
}
.header-tertiary {
  text-align: center;
  background: #000;
  padding: 2rem;
  background: #fff;
  border: 3px solid #000;
}
@media only screen and (min-width: 35em) {
  .header-primary {
    padding: 3rem;
  }
  .header-secondary {
    margin: 0 0 4rem;
  }
  .header-tertiary {
    padding: 4rem;
  }
}

.a02 {
  background: rgb(220,220,220);
}

.items {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item {
  width: calc(100% - 4rem);
  padding: 2rem;
}

.badge {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 36px;
  height: 36px;
  background: #c20;
  color: #fff;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  font-style: normal;
  font-size: 12px;
  z-index: 999;
}

@media only screen and (min-width: 35em) {
  .item {
    width: calc(50% - 8rem);
    padding: 4rem;
  }
  .item-fluid {
    width: calc(100% - 8rem);
  }
}

.item-image {
  position: relative;
  width: 100%;
}

.item-image:before {
  content:"";
  display: block;
  padding-top: 100%;
}

.item-fluid .item-image:before {
  padding-top: 50%;
}

.item-image > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.item-creator {
  margin-top: 2rem;
  text-align: center;
}

.item-link {
  text-align: center;
}

hr.to {
  margin: 2rem auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #f60 transparent transparent transparent;
}

.step {
  text-align: center;
  border: 2px solid #f60;
  border-radius: 2rem;
  padding: 2rem;
}
@media only screen and (min-width: 35em) {
  .step {
    border-radius: 4rem;
  }
}

.step > h4 span {
  display: block;
  color: #f60;
}

footer {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

footer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.btn {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  border: 2px solid #000;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #000;
  box-shadow: 1px 1px 0 #000;
}

.btn-primary {
  display: block;
  background: #eee;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 2rem;
  box-shadow: 2px 2px 0 #000;
}

a.btn-primary {
  background: #ff0;
}

a.btn:hover {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: 1px 1px 0 #000;
}

@media only screen and (min-width: 35em) {
  .btn-primary {
    font-size: 3rem;
  }
}

.dl-horizontal dt, .dl-horizontal dd {
  display: inline-block;
  margin: 0;
}

.dl-horizontal dt {
  font-weight: bold;
  margin-right: 1rem;
}

.lead {
  font-weight: bold;
}

.lead strong {
  color: #f60;
}

.pic {
  max-height: 200px;
}

small {
  display: inline-block;
}

a { color: #f60; }
a:hover { text-decoration: none; }

.text-warning {
  color: #f60;
}

.box {
  padding: 2rem;
}
@media only screen and (min-width: 35em) {
  .box {
    padding: 4rem;
  }
}

aside .container-narrow {
  border: 1px solid #ddd;
  border-radius:  6px;
}

aside {
  margin-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media only screen and (min-width: 35em) {
  aside {
    margin-bottom: 8rem;
  }
}

.thank-you {
  margin: 4rem 0;
  padding: 2rem 0;
  background: rgb(126,196,239);
}

.plate {
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.plate > span {
  display: block;
  font-size: 48px;
  white-space: nowrap;
}

.plate-primary {
  background: #f60;
  color: #fff;
}

.plate-secondary {
  background: #fff;
}

.big-thanks {
  margin: 4rem 0;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
